html, body{
    min-height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    width: 70vh;
    height: 70vh;
    margin-top: 15vh;
}
.buttons{
    width: 15vw;
    margin-top: 15vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#colorPicker{
    visibility: hidden;
}
#colorPickerLabel{
    background-color: black;
    width: 15vW;
    height: 15vW;
    border-radius: 100%;
}